APP_NAME=Ngalagu
APP_ENV=local
APP_KEY=base64:XyZ8a9kL0mN1oP2qR3sT4uV5wX6yZ7a8bC9dE0fG1hI=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

MUSIC_RECOGNITION_MOCK=true

AUDD_API_KEY=
ACR_HOST=
ACR_ACCESS_KEY=
ACR_ACCESS_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
